---
import { getPriceListData } from "../api/index";
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";

const priceListData = (await getPriceListData()) as Array<{
  price: string;
  name: string;
}>;
---

<Layout title="Ceník">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Ceník</Fragment>
      <Fragment slot="desc">Aktuálně platné ceny našich služeb.</Fragment>
    </Sectionhead>

    <div class="flex flex-col mt-5">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          <div class="overflow-clip">
            <table
              class="w-full max-w-full text-left text-sm font-light border">
              <thead class="border font-medium dark:border-neutral-500">
                <tr>
                  <th scope="col" class="px-6 py-4">Název položky</th>
                  <th scope="col" class="px-6 py-4">Cena v Kč</th>
                </tr>
              </thead>
              <tbody>
                {
                  priceListData?.map((priceListItem) => {
                    return (
                      <tr class="border transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-200">
                        <td class="overflow-clip px-6 py-4 font-medium">
                          {priceListItem.name}
                        </td>
                        <td class="whitespace-nowrap px-6 py-4">
                          {priceListItem.price}
                        </td>
                      </tr>
                    );
                  })
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </Container>
</Layout>
