---
import { Icon } from "astro-icon";

// Vytvoříme "feature" karty s informacemi z původního webu
const features = [
  {
    title: "Školení řidičů",
    description:
      "Ve spolupráci se školicím střediskem Todat s.r.o. provádíme pravidelná profesní školení řidičů dle zákona 247/2000 Sb.",
    icon: "bx:bxs-badge-check",
  },
  {
    title: "Motorkářské skupiny",
    description:
      "Od 1.6.2021 provádíme z motorkářských skupin pouze rozšíření formou doplňkové zkoušky ze sk. A1/A2 a A2/A.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Přihlašování na kurzy",
    description:
      "Pro online rezervaci použijte náš formulář v sekci Jak se přihlásit. Informace na tel. 603 928 674.",
    icon: "bx:bxs-data",
  },
  {
    title: "Tipy pro výběr autoškoly",
    description:
      "Nekupujete si rohlík za dvě koruny. Zjistěte si, jak a kde probíhá výuka teorie, jaké vybavení má učebna a dejte i na doporučení přátel.",
    icon: "bx:bxs-file-find",
  },

];
---

<section id="news" class="mt-12">
  <div>
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Další informace</h2>
    <p class="text-lg mt-4 text-slate-600 max-w-3xl">
      Níže najdete důležité informace o provozu autoškoly, možnostech školení
      a několik rad, jak správně vybrat autoškolu. 
    </p>
  </div>

  <div class="grid sm:grid-cols-2 md:grid-cols-2 mt-16 gap-16">
    {
      features.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg">{item.title}</h3>
            <p class="text-slate-500 mt-2 leading-relaxed whitespace-pre-line">
              {item.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</section>
