---
import headImg from "../assets/005.jpeg";
import Link from "../components/ui/link.astro";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Image
      src={headImg}
      alt="Astronaut in the air"
      sizes="(max-width: 800px) 100vw, 620px"
      class={"rounded-md"}
      loading="eager"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Marketing website done with Astro
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Astroship is a starter template for startups, marketing websites & landing
      pages.<wbr /> Built with Astro.build and TailwindCSS. You can quickly
      create any website with this starter.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/prihlaseni"
        class="flex gap-1 items-center justify-center bg-blue-700"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="mdi:register-outline" />

         Přihlášky
      </Link>
      <Link
        href="#gallery"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="fa:photo" />

         Galerie
      </Link>
      <Link
        href="#"
        href="#team"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="ri:team-line" />
         Tým
      </Link>
    </div>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#news"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="fluent:news-20-regular" />
         Novinky (poslední změna: 12.1.2023)
      </Link>
    </div>
  </div>
</main>
