---
import { Image } from "astro:assets";

type DetailData = {
  imgSrc: string;
  slugUrl: string;
  coverAlt: string;
  title: string;
};

interface Props {
  detailData: DetailData;
  imgWidth?: number;
  imgHeight?: number;
}

const {
  detailData: { coverAlt, slugUrl, imgSrc, title },
} = Astro.props;
---

<a href={`/${slugUrl}`} class="postcard-link not-prose">
  <article class={`postcard-article`}>
    <div class={`postcard-image-container`}>
      <!-- <Image
        src={imgSrc}
        alt={coverAlt}
        width={672}
        height={378}
        format="jpeg"
        loading={"lazy"}
      /> -->
    </div>
    <div class={`postcard-content`}>
      <h2 class="postcard-title">{title}</h2>
    </div>
  </article>
</a>
